{
  "extends": "takiyon-react",
  "settings": {
    "import/resolver": {
      "webpack": "webpack"
    }
  },
  "rules": {
    "jsx-a11y/label-has-for": ["error", {
      "components": ["label"],
      "required": {
        "some": ["nesting", "id"]
      }
    }]
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
