@import "../../node_modules/bootstrap/scss/bootstrap";

$canvas-border: #d3d3d3;

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

canvas {
  margin-bottom: 10px;
  border: 1px solid $canvas-border;
}

.details {
  margin-left: 15px;
}

.configuration {
  display: flex;
  flex-direction: column;

  > button {
    margin-top: 5px;
    margin-left: auto;
  }
}

.controls {
  display: table;

  > .form-group {
    display: table-row;

    > * {
      display: table-cell;
      padding: 5px;
      width: 1%;
      vertical-align: middle;
    }

    > .header {
      text-align: right;
      white-space: nowrap;
      font-weight: bold;
    }

    > .value {
      width: 100%;
    }
  }

  label {
    margin-bottom: 0;
  }
}

.cursor {
  display: flex;
  align-content: center;
  margin-top: 20px;
  padding: 0;
  list-style: none;

  > li {
    display: flex;
    align-content: center;

    > * {
      padding: 0 5px;
    }

    > .header {
      font-weight: bold;
    }
  }
}
